In [46]:
import os
import pandas as p

data = p.DataFrame()
# Make sure you put all the csv files into a folder named 'data' in same directory as this script
for root, dirs, files in os.walk('data/',topdown=True):
    for file in files:
        if file == "TBOP Coding_Stop and Go.xlsx":
            continue
        filename = 'data/' + file
        df = p.read_excel(filename,index_col=None,header=0)
        data = data.append(df)
display(data)

,Timepoint,District ID,School ID,Teacher ID,Condition,Obs. Entry,ESL Strategy,Curriculum,Physical Group,Activity Structure,Mode,Language Content,Lang. of Instruction(T),Lang. of Instruction(S),Round
0,:00-:20,1,1011,10112,1,1,10,14,5,8,18,3,2,2,2
1,:20-:40,1,1011,10112,1,2,10,14,5,8,18,4,2,2,2
2,:40-1:00,1,1011,10112,1,3,10,14,5,8,3,4,2,5,2
3,1:00 - 1:20,1,1011,10112,1,4,10,14,5,8,3,3,2,5,2
4,1:20-1:40,1,1011,10112,1,5,10,14,5,10,18,4,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,33:32-33:40,10,9113,91132,3,56,3,14,1,8,18,4,2,2,3
56,33:40-34:00,10,9113,91132,3,57,3,14,1,8,18,4,2,2,3
57,34:00-34:20,10,9113,91132,3,58,3,14,1,1,3,4,2,5,3
58,34:20-34:40,10,9113,91132,3,59,3,14,1,8,18,4,2,2,3
59,34:40-35:00,10,9113,91132,3,60,3,14,1,1,3,4,2,5,3