In [2]:
import csv

import pandas as pd

df = pd.read_csv("10112_R2_CSV.csv")

df.head()

,Timepoint,District ID,School ID,Teacher ID,Condition,Obs. Entry,ESL Strategy,Curriculum,Physical Group,Activity Structure,Mode,Language Content,Lang. of Instruction(T),Lang. of Instruction(S),Round
0,:00-:20,1,1011,10112,1,1,10,14,5,8,18,3,2,2,2
1,:20-:40,1,1011,10112,1,2,10,14,5,8,18,4,2,2,2
2,:40-1:00,1,1011,10112,1,3,10,14,5,8,3,4,2,5,2
3,1:00 - 1:20,1,1011,10112,1,4,10,14,5,8,3,3,2,5,2
4,1:20-1:40,1,1011,10112,1,5,10,14,5,10,18,4,2,2,2